.paizao{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 0 auto;
	flex-wrap: wrap;

}
.cabecalho{
	justify-content: space-between;
	background-color: #631F3C;
	width:100%;
	height: 15vh;
	text-align: center; 
	padding-top: 30px;
	color:#CB9173;
	font-weight: 20px;
	font-size:35px;
	font-family: Lancelot, sans-serif;

}
.pesq{
	width: 20%;
	height: 30px;
	background-color: #eee;
	margin: 20px;
	display: flex;
	flex-direction: column-reverse;
	margin-right: 100px;
	border-radius: 45px;
}
.lupa{
	margin: 10px;
}
.logo{
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
    height: 15vh;
    margin-top: 10px;
    align-items: center;
    
}
.log{
	margin-right: 75px;
}
.banner{
	width: 100%;
    height: 25vh;
    margin-top: 15px;
    
}
.paizinho{
	display: flex;
	justify-content:center;
	gap:20px;
	padding: 40px;
	margin: 100px;
	width: 100%;
}
.alta{
	width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border-radius: 55px;
}
.pa{
	display: flex;
	width: 100%;
	justify-content: space-between;

}
.pai2{
	display: flex;
	width: 50%;
	justify-content: space-between;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 20px;
}
.ofertas{
    justify-content: space-between;
	background-color: #8E443D;
    width: 82%;
    height: 355px;
    margin-left: 50px;
    border-radius: 50px;
}
.ofertas1{
	justify-content: space-between;
	background-color: #8E443D;
	text-align: ;
    width:82%;
    height: 355px;
    margin-left:  50px;
    border-radius: 50px;
}
.ft{
	border-radius: 50px;
}
.mae{
	display: flex;
	width: 50%;
	justify-content: space-between;
	
	flex-direction: column;
}
.aval1{
	 justify-content: space-between;
	background-color: #CB9173;
	color: #894329;
	text-align: center;
    width: 80%;
    height: 250px;
    margin: 20px;
    border-radius: 50px;
}
.foto{
	border-radius: 100px;
	margin: 25px;
}
.aval2{
	 justify-content: space-between;
	background-color: #CB9173;
	color: #894329;
	text-align: center;
    width: 80%;
    height: 250px;
    margin: 20px;
    border-radius: 50px;

}
.aval3{
	 justify-content: space-between;
	background-color: #CB9173;
	color: #894329;
	text-align: center;
    width: 80%;
    height: 250px;
    margin: 20px;
    border-radius: 50px;

}
.rodape{
	justify-content: space-between;
	background-color: #631F3C;
	width:100%;
	height: 15vh;
	text-align: center; 
	padding-top: 30px;
	color:#CB9173;
	font-weight: 20px;
	font-size:35px;
	font-family: Lancelot, sans-serif;

}